<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http pattern="/index.jsp" security="none"/>
	<http auto-config="true">
		<intercept-url pattern="/welcome*" 
			access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_ADD','ROLE_SUB')"/>
		<intercept-url pattern="/add*" 
			access="hasAnyRole('ROLE_ADD')"/>
		<intercept-url pattern="/sub*" 
			access="hasAnyRole('ROLE_SUB')"/>
		<logout invalidate-session="true" 
        logout-success-url="/index" 
        logout-url="/logout" delete-cookies="JSESSIONID" />
        <access-denied-handler error-page="/unauthorized.jsp"/>
        <session-management invalid-session-url="/index.jsp"/>
	</http>

	<authentication-manager>
	  <authentication-provider>
	    <user-service>
	    <!--  There is no PasswordEncoder mapped for the id “null” 
	    		{noop} is needed to avoid above error in Spring 5
	    -->
		<user name="admin" password="{noop}admin" authorities="ROLE_ADMIN" />
		<user name="dsingh" password="{noop}dsingh" authorities="ROLE_ADMIN, ROLE_USER" />
		<user name="add" password="{noop}add" authorities="ROLE_ADD, ROLE_USER" />
		<user name="subtract" password="{noop}subtract" authorities="ROLE_SUB, ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
</beans:beans>